
@font-face {
    font-family: 'BondoluoPeek';
    src: url('fonts/BondoluoPeek.eot');
    src: url('fonts/BondoluoPeek.eot?#iefix') format('embedded-opentype'),
         url('fonts/BondoluoPeek.woff') format('woff'),
         url('fonts/BondoluoPeek.ttf') format('truetype'),
         url('fonts/BondoluoPeek.svg#BondoluoPeek') format('svg');
}
