.fullpic .button {
bottom: 38px !important;
}

ul.tabs li.active a {
    color: #1C93D1 !important;
}

.newsletter-form input[type="submit"] {
background: none repeat scroll 0 0 #1C93D1 !important;
}

.newsletter-form input[type="submit"] {
padding: 12px 0 !important;
}
.mmenu-icon .fa.fa-bars { background: none repeat scroll 0 0  #1c93d1; }

.button:focus {
    background-color:  #1c93d1;
}


 #room-featured-slider .button:hover {
        background: none repeat scroll 0 0  #1c93d1 !important;
    }

.fullpic .button:hover {
        background: none repeat scroll 0 0  #1c93d1 !important;
}

.room-details-content .button:hover {
        background-color:  #1c93d1 !important;
        }

.sidebar .button:hover {
        background:  #1c93d1 !important;

}

.upcoming-events .fr li:hover .event-date {	background:  #1c93d1; }

.upcoming-events li:hover .event-description {
background: none repeat scroll 0 0  #1c93d1;
}
	
nav .icon-mail:hover {  color:  #1c93d1; }

nav .icon-mail { background:  #1c93d1; }

.button {  background:  #1c93d1; }

.circle { background: none repeat scroll 0 0  #1c93d1; }



a { color:  #1c93d1; }

.button:focus { background-color:  #1c93d1; }

.boxer .lowball { color:  #1c93d1; }
	
.boxer h3 { color:  #1c93d1; }
.boxer h6 {  color:  #1c93d1; }    


.boxer a { color:  #1c93d1; }   	


p a { color:  #1c93d1; }	

.dropmenu select { border: 1px solid  #1c93d1; }
 

.icon-menu { color:  #1c93d1; }

#slidecaption .footprints li:hover {  background:  #1c93d1; }

.boxer aside ul li a:hover { color:  #1c93d1; }

ul.tabs li.active a { color:  #1c93d1; }


#toggle-view li.activated:after { background:  #1c93d1; }

.nextposters .boxer li a:hover h4 {
	color:  #1c93d1;
}

.usercomments h4 i a {
	color:  #1c93d1;
}

.social-buttons a:hover, .social-buttons i:hover {
		color:  #1c93d1;
	}

#primary-nav nav ul li a:hover {
		color:  #1c93d1;
	}

#primary-nav .button { background: none repeat scroll 0 0  #1c93d1;   }
 
 #neighborhood .section-header .fr li {
    background: none repeat scroll 0 0  #1c93d1;
    }
    
 .newsletter-form input[type="submit"] { background: none repeat scroll 0 0  #1c93d1; }
 
 	footer nav ul.footling li a:hover {
		color:  #1c93d1;
	}
	


.ui-timepicker-div .ui-state-default,
.ui-timepicker-div .ui-widget-content .ui-state-default,
.ui-timepicker-div .ui-widget-header .ui-state-default {
    background:  #1c93d1;

}

.dp-highlight .ui-state-default {
          background:  #1c93d1;
         }


	   
#map .activities li { background: none repeat scroll 0 0  #1c93d1; }
  
.post-content h3 {
    color:  #1c93d1;
 }
 
 .post-tags li a:hover, .post-tags li.current a {
	color:  #1c93d1;
}

   
.post-content blockquote p {
    color:  #1c93d1;
 }
 
 
  .wpcf7 input[type="submit"]:hover {
        background-color:  #1c93d1;

    }
 
 
 .upcoming-calendar .tribe-mini-calendar td.tribe-events-has-events {
   background: none repeat scroll 0 0  #1c93d1;
}
      
.section-photos li div.hover-effect, .thumbgal li div.hover-effect {
background: none repeat scroll 0 0 rgba( 28,147,209, .8);
}


#neighborhood .section-header .fr li {
    background: none repeat scroll 0 0  #1c93d1;
}

footer nav ul.footling li a:hover {
		color:  #1c93d1;
	}


.dp-highlight .ui-state-default {
          background:  #1c93d1;
          color: #FFF;
        }
        
#map .activities li {  background: none repeat scroll 0 0  #1c93d1; }        
   
   
   
   
     .placeMark { 
	background:  #e35929;
  }
  
   #toggles li {

	background:  #e35929;

  }

.from-price { background: none repeat scroll 0 0 rgba( 28,147,209, 0.8);      }
